<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">

  <variable name="Layout" value="${longdate}|${callsite}|${callsite-linenumber}|${level}|${message} ${exception:format=tostring}" />
  <variable name="LogsBaseDir" value="${basedir}/Logs" />
  <variable name="ArchiveLogsBaseDir" value="${basedir}/ArchiveLogs" />

  <targets async="true">
    <target name="BinanceSell" xsi:type="File" fileName="${var:LogsBaseDir}/BinanceSell.txt" layout="${Layout}" encoding="utf-8"
        archiveEvery="Day"
        archiveFileName="${var:ArchiveLogsBaseDir}\BinexWorkerService\BinanceSell_{#}.txt"
        archiveNumbering="Date"
        archiveDateFormat="dd.MM.yyyy"
        maxArchiveFiles="30"
        keepFileOpen="false" />
  </targets>
  <rules>
    <logger name="BinanceSell" minlevel="Trace" writeTo="BinanceSell" />
  </rules>
</nlog>